<div class="big_card_container">
    <div class="big_card_photo">
    <img src="assets/img/jaisy.webp" 
    alt="jaisy-alves" 
    height="300vw"
    width="240vw"
    >
    </div>
    <div class="big_card_title"></div>
    <h2>Quem sou eu?</h2>
    <div class="big_card_description">
    <article>
        Sou uma estudante de Análise e Desenvolvimento de Sistemas, na Faculdade de Informática e Administração Paulista - FIAP. Tenho 
        como propósito aprender constantemente e construir uma carreira na área de Tecnologia.
    </article>
    </div>
</div>
